:root {
  --dark: #000000;
 --white: #ececec;

 --blue: #00B1FF ;
 --pink: #FF32AE;
 --lightblue:#00ffd5;
 --darkblue: #3209b8;


 /* filter */
 --darktone: #292F32;
 --lighttone: #666666;
}

* {
  margin: 0;
  padding: 0;
}

body{
  margin: 0 50px;
  background-color: var(--dark);
}

.circles:hover{
  cursor: pointer;
}

.SVG {
  background-color: var(--dark);
}

.yScale, .xScale{
  color: var(--white);
}

h1, h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  color: var(--white);
}

p {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--white);
}

  .headerImg{
    max-height: 70vh;
  }


  /* filter Styling */

  .filterForm {
    display: flex;
    justify-content: flex-end;
    }

 .filterForm label {
    background-color: var(--lighttone);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: .8em;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white);    
    margin-left: 1em; 
    padding: .8em;
    border-radius: .1em;
  }

  .filterForm label:hover {
    cursor: pointer;
  }

  .filterForm label input {
    display: none;
    position: absolute;
  
  }

.filterForm .checked{
  background-color: var(--darktone);
  font-weight: 600;

}

.filterForm .unchecked {
  color: lightgrey;
}


/* legend dashboard */

.legend {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--dark);
  padding: 1em;
  top: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: lighter;
}
.LGender, .LAge{
width: .8em;
height: 5em;
}
.LGender {
  background: linear-gradient(0deg,var(--pink) 0%, var(--blue) 100%);
}
.LAge {
  background: linear-gradient(0deg,var(--lightblue) 0%, var(--darkblue) 100%);
}

.LGenderIntro {
  background: linear-gradient(270deg,var(--pink) 0%, var(--blue) 100%);
  width: 5em;
  height: .8em;
}

.filter ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3em;
  margin-left: 1em;
}

.filter li{
  list-style-type: none;
  color: white;
}

/* LEGEND FOR INTRO */

.legendOnly {
  display: flex;
  justify-content: space-between;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: lighter;
  margin: 2em 5em 10em 5em;
}

 .legendOnly .legend {
   width: 15em;
   text-align: center;
  color:white;
  display: flex;
  flex-direction: column;
}

.legendOnly ul{
  display: flex;
  flex-direction: row;
  margin-left: 1em;
}

.legendOnly li{
  margin: 0em 1em;
  list-style-type: none;
}

.legendOnly .legend h3{
  font-size: .8em;
  margin-bottom: 1em;
}

.legendOnly .circleClass{
  width: .7em;
  height: .7em;
  background-color: white;
  border-radius: 100%;
  margin-right: .5em;

}

.legendOnly .dateDotDiv {
  display: flex;
  align-items: center;
  color: white;
  font-size: .6em;
}

.circles{
  display: flex;
  flex-direction: row;
  align-items: center;} 

  .scaleLegend .text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.circle1, .circle2, .circle3, .circle4 {  
  width: .3em;
  height: .3em;
  background-color: white;
  border-radius: 100%;
}
.circle1{border: rgba(83, 83, 83) .6em solid;}
.circle2{border: rgb(83, 83, 83) .9em solid;}
.circle3{border: rgba(83, 83, 83) 1.2em solid;}
.circle4{border: rgba(83, 83, 83) 1.5em solid;}



/* svg coloring */
.cls-1 {
  fill: #ececec;
  }

